.shoppingBag {
  font-size: 18px;
  text-decoration: underline;
  margin-bottom: 12px;
}

.cart-dish-container {
  padding: 6px 0;
  border-bottom: 1px solid var(--thirdly-white);
}

.cart-dish-delete {
  cursor: pointer;
  padding-right: 10px;
  font-size: 31px;
}

.cart-img {
  border: 2px solid var(--secondary-purple);
}

.cart-dish-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 12px;
}

.cart-dish-text span {
  font-weight: 700;
}

.cart-dish-quantity span {
  padding: 0 10px;
}

.cart-quantity-icon {
  font-size: 20px;
  cursor: pointer;
}

.cart-dish-totalPrice {
  font-weight: 700;
}

.cart-summary-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 10px;
  border: 1px solid var(--thirdly-white);
  background-color: var(--thirdly-purple);
}

.cart-summary-container h3 {
  font-weight: 700;
  width: 100%;
  text-align: left;
}

.cart-summary-subtotal,
.cart-summary-shippingFee,
.cart-summary-shippingDiscount,
.cart-summary-total {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 0;
}

.cart-summary-total {
  font-weight: 700;
  font-size: 26px;
}

.cart-checkout {
  width: 100%;
  background-color: var(--primary-green);
  border: 1px solid var(--primary-green);
  border-radius: 5px;
  color: var(--primary-white);
  font-weight: 700;
  padding: 2px;
}

.cart-checkout:hover {
  background-color: var(--secondary-green);
}

.cart-checkout-icon {
  margin-right: 8px;
}

.order-success-container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.order-success-icon {
  font-size: 88px;
  color: var(--secondary-green);
}

.order-success-text {
  font-size: 30px;
}

.order-link,
.order-link:hover  {
  color: var(--primary-yellow);
}

.order-cancel-container {
  background-color: var(--primary-yellow);
  border-radius: 6px;
  font-weight: 700;
}

/********** Extra small devices only **********/
@media (max-width: 767px) {
  .shoppingBag {
    font-size: 14px;
  }
  .cart-dish-container {
    position: relative;
  }
}