:root {
  --primary-purple: #61122f;
  --primary-yellow: #f6b319;
  --primary-green: #557c3e;
  --primary-white: #ffffff;
  --primary-black: #222222;
  --secondary-purple: #3F0C1F;
  --secondary-black: #000000;
  --secondary-green: #618a49;
  --secondary-white: #e7e7e7;
  --thirdly-purple: #520c2642;
  --thirdly-white: #dadada3a;
  --transparent-purple: rgba(97, 18, 47, 0.185);
}

* {
  box-sizing: border-box !important;
}

body {
  font-family: 'Oxygen', sans-serif !important;
  background-color: var(--primary-purple) !important;
  overflow-x: hidden;
}
