:root {
  --primary-purple: #61122f;
  --primary-yellow: #f6b319;
  --primary-green: #557c3e;
  --primary-white: #ffffff;
  --primary-black: #222222;
  --secondary-purple: #951C49;
  --secondary-black: #000000;
  --secondary-white: #e7e7e7;
}

* {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: 'Oxygen', sans-serif !important;
}
